################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASP.NET-WebForms-CadastroHotel/.vs
*.mdf
/ASP.NET-WebForms-GridViewADONET/GridViewADONET/bin/roslyn
/ASP.NET-WebForms-GridViewADONET/GridViewADONET/bin
